<div class="container">
  <div class="row">
    <section class="main col-md-9">
      <article>
        <h2>About</h2>
        <p>Hi I am Lorenz Alvin Tubo, Im a simple guy studying computer programming at seneca college . But suddenly
          whilst walking around the campus, I found a black empty notebook due to curiosity I decided to bring it home,
          I discovered that the notebook has the power to kill anyone as long as I write their name on the notebook and
          I know their face.</p>
        <p>Initially I was terrified of its god-like power, considering the possibilities this notebook of Deaths
          abilities are I decided to kill high-profile criminals. Five days after discovering the notebook, I was
          visited by a being named Ryuk he calls himself a "Shinigami" and the apparent owner of the notebook of death.
          Ryuk is invisible to anyone who has not touched the notebook.</p>
        <p>He revealed to me that he dropped the notebook into the human world out of boredom and is amused by my self
          righteous actions. As criminals from around the world die from inexplicable accidents and impossible
          coincidences, global media seems to suggest that a single mastermind is responsible for the mysterious murders
          and named me "Killer". Hoping to apprehend me, Interpol requested assistance from an enigmatic consulting
          consulting detective, known as L.</p>
        <p>I only hope that with the added constraints of my current life drama that I am able to keep my high grades as
          I study computer programming and successfully graduate before L and the Interpol catches up to me. As I
          struggle with the guilt of killing people via notebook writing. And the temptation of using the godlike powers
          of the notebook. I also enjoy long walks on the beach and fighting off seagulls with a baloney sandwich.</p>
        <p>please stay with me on my journey in becoming a computer programmer.</p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned for my heart racing autobiography and life story only if I <strong
          style="color: red">Survive</strong></p>
    </aside>
  </div>
</div>